@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("eot/iranyekanwebboldfanum.eot");
  src: url("eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebboldfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("eot/iranyekanwebthinfanum.eot");
  src: url("eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebthinfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("eot/iranyekanweblightfanum.eot");
  src: url("eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanweblightfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("eot/iranyekanwebregularfanum.eot");
  src: url("eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebregularfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("eot/iranyekanwebmediumfanum.eot");
  src: url("eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebmediumfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("eot/iranyekanwebextraboldfanum.eot");
  src: url("eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebextraboldfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("eot/iranyekanwebblackfanum.eot");
  src: url("eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebblackfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("eot/iranyekanwebextrablackfanum.eot");
  src: url("eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff/iranyekanwebextrablackfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("eot/iranyekanwebbold(fanum).eot");
  src: url("eot/iranyekanwebbold(fanum).eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff2/iranyekanwebbold(fanum).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("woff/iranyekanwebbold(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebbold(fanum).ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("eot/iranyekanweblight(fanum).eot");
  src: url("eot/iranyekanweblight(fanum).eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff2/iranyekanweblight(fanum).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("woff/iranyekanweblight(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanweblight(fanum).ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("eot/iranyekanwebregular(fanum).eot");
  src: url("eot/iranyekanwebregular(fanum).eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("woff2/iranyekanwebregular(fanum).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("woff/iranyekanwebregular(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  src: url("eot/fontawesome-webfont.eot?v=4.7.0");
  src: url("eot/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
    url("woff2/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("woff/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("ttf/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("svg/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
