:host::ng-deep {
  ngb-accordion {
    .card {
      border: 0 !important;
      border-radius: 0 !important;
      margin-bottom: 0.5rem;
      box-shadow: 0 1px 3px 0 #cacaca;

      .card-header {
        padding: 10px;
        button {
          padding: 0;
          width: 100%;

          &.btn-link {
            color: var(--dark);
            &:hover,
            &:focus {
              color: var(--gray-dark);
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .text-lite-dark {
    color: #999;
  }
}
